@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body{
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}
h1{
    
    font-size: 78px;
    color: #0a2ff1;
}

span{
    background-color: #3ffff3;
}

p{
    
    font-size: 30px;
    color: #0a2ff1;
}

img{
    width: 350px;
    background-image: url(/img/fondo.JPG) ;
}